<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Genre</title>
  <link rel="stylesheet" href="base.css">
</head>
<body>
  <div class="Genre">
    <div class="BookCategory FictionRomanceAdventureHorrorFantasyScienceFiction">Fiction<br/><br/>Romance<br/><br/>Adventure<br/><br/>Horror<br/><br/>Fantasy<br/><br/>Science Fiction</div>
    <div class="BookCategory NonFictionSelfHelpTravelBiographyHistoryPersonalGrowth">Non-fiction<br/><br/>Self Help<br/><br/>Travel<br/><br/>Biography<br/><br/>History<br/><br/>Personal Growth</div>
    <div class="BookCategory ThrillerMysteryCrimeDetectivePoetryMemoirAstronomy">Thriller/Mystery<br/><br/>Crime<br/><br/>Detective<br/><br/>Poetry<br/><br/>Memoir<br/><br/>Astronomy</div>
    <div class="Icon TeamFill"><div class="Vector"></div></div>
    <div class="Icon ShoppingCartFill"><div class="Vector"></div></div>
    <div class="Icon SearchLine"><div class="Vector"></div></div>
    <div class="Description DiveIntoAWorldOfCuratedTreasuresTurningTheArtOfThriftingIntoAnAdventureYourNextFavoriteReadIsJustAHeartbeatAwayHappyThrifting">Dive into a world of curated treasures, turning the art of thrifting into an adventure. Your next favorite read is just a heartbeat away. Happy Thrifting!</div>
    <div class="Description ExploreWhereEveryClickOpensTheDoorToAWorldOfLiteraryWondersThrillYourSensesCaptivateYourMindAndLetTheAdventureBeginWithEveryPageTurned">Explore – where every click opens the door to a world of literary wonders. Thrill your senses, captivate your mind, and let the adventure begin with every page turned!</div>
    <div class="Description DiscoverShareAndImmerseYourselfInAWorldWhereEveryPageBringsNewCompanionshipYourNextBookishFriendshipIsJustAClickAway">Discover, share, and immerse yourself in a world where every page brings new companionship. Your next bookish friendship is just a click away!</div>
  </div>
</body>
</html>