<!DOCTYPE html>
<html lang="en">
    <head>
    <title> HOME PAGE</title>
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
        <header>
       <div class="main">
           <div class="logo">
              <img src="logo.png" width="463" height="90" align=”left”>
        </div>


         <ul>
            <li class="active"><a href="#">Menu</a></li>
            <li><a href="/base">Home</a></li>
            <li><a href="/genre">Genre</a></li>
            <li><a href="/thrift">Thrift</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">About us </a></li>
         </ul>

    </div>
    <div class ="title">
            
        <p>
        <h1 style="font-family: NanumMyeongjo;"> SAVE THE PLANET <br>BUY VINTAGE!</h1>
            <h3> Embrace sustainability with style! Save <br>
                the planet by choosing timeless<br>
                 elegance—opt for vintage treasures that<br>
                  not only make a statement but also <br>
                  leave a lighter footprint. Join the<br>
                   movement: Save the Planet, Buy 
                   Vintage!</h3></p>
    </div>
    <div class="topnav">
        <input type="text" placeholder="Search.." >
        <button><a href="/login">Login</a></button>
        <button class="signup"><a href="/signup">signup</a></button>
      </div>
        
         </body>
</html>